<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="title">
        <span>JWT Auth</span>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="buttons">
        <button mat-button [routerLink]="'admin'">Admin</button>
        <button mat-button [routerLink]="'login'">Login</button>
        <button mat-button>Logout</button>
    </div>
    </mat-toolbar-row>
    </mat-toolbar
  >
</div>
