<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="title">
        <span>JWT Auth</span>
        <ng-template #viewAdmin>
          <button (click)="onToggleSidenav()"
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
          >
            <mat-icon>menu</mat-icon>
          </button>
        </ng-template>
        <ng-template #viewLogout>
          <button mat-button (click)="logout()" *ngIf="authService.IsLogged | async">Logout</button>
        </ng-template>
        <ng-container *ngIf="!isAdmin; else viewAdmin"></ng-container>
      </div>
      <div class="buttons">
        <button mat-button [routerLink]="'admin'" *ngIf="authService.IsLogged | async">Admin</button>
        <button mat-button (click)="logout()" *ngIf="authService.IsLogged | async">Logout</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
